
/* Sidebar Transition */
.sidebar-enter, .sidebar-leave-to {
  transform: translateX(-500px);
  opacity: 0;
}

.sidebar-enter-active, .sidebar-leave-active {
  transition-property: transform, opacity;
  transition: all .3s ease-in-out;
}

/* Modal Transition */
.modal-enter, .modal-leave-to {
  transform: translateY(-500px);
  opacity: 0;
}

.modal-enter-active, .modal-leave-active {
  transition: transfrom opacity .3s ease;
}

.opacity-enter, .opacity-leave-to {
	opacity: 0
}
.opacity-enter-active, .opacity-leave-active {
  transition: opacity .3s ease;
}

.router-enter, .router-leave-to {
	opacity: 50%;
}

.router-enter-active {
  transition: all .3s ease-in;
}

.router-leave-active {
	transition: all .3s ease-out;
}
